<article>
    <h1 class="col-sm-12">Universe Creator</h1>
    <section class="story-editor-container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Story:</h3>
            </div>
            <div class="panel-body">
                <form name="storyEditorForm">
                    <textarea ng-model="$storage.story" class="story-editor form-control" rows="30" ui-codemirror ui-codemirror-opts="universe.storyEditorOptions"></textarea>
                </form>
                <button ng-click="resetToDefaultStory()" class="btn btn-xs btn-danger">Reset To Default Story</button>
            </div>
        </div>
    </section>
    <section class="story-preview-container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Preview Story:</h3>
            </div>
            <div class="panel-body">
                <story-preview story="$storage.story"></story-preview>
            </div>
        </div>
    </section>
</article>
