<article class="container">
    <h1>Universe Creator</h1>
    <section class="story-editor-container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Story:</h3>
            </div>
            <div class="panel-body">
                <form name="storyEditorForm">
                    <textarea ng-model="universe.story" class="story-editor form-control" rows="20"></textarea>
                </form>
            </div>
        </div>
    </section>
    <section class="story-preview-container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Preview Story:</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </section>
</article>
