<article class="container">
    <section class="story-editor col-sm-6">
        <h1>Universe Creator</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Story:</h3>
            </div>
            <div class="panel-body">
                <form name="storyEditorForm">
                    <textarea class="form-control" rows="10"></textarea>
                </form>
            </div>
        </div>
    </section>
</article>
